
<% title = current_page.data.title || config.site_title %>

<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <%= partial '/partials/coeur-head' %>
  </head>
  <body class="_loader">

    <div class="_main">
      <%= yield %>
    </div>

  </body>
</html>
