<!doctype html>
<html>
  <head>
    <%= partial '/partials/head' %>
    <title>_stylecoeur</title>
  </head>
  <%= partial '/partials/nav' %>
  <body>
    <%= yield %>
    <%= partial '/partials/footer' %>
  </body>
</html>
