
<% title = current_page.data.title || "_stylecoeur" %>

<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <%= partial '/partials/head' %>
  </head>
  <body class="_loader">

    <div class="_main">
      <%= yield %>
    </div>

  </body>
</html>

<script src="../javascripts/site.js" type="text/javascript"></script>