<!doctype html>
<html>
  <head>
    <%= partial '/partials/head' %>
    <title>_stylecoeur</title>
  </head>
  <body class="_content">

    <div class="_grid-one-three">
      <div> <!-- spacing --> </div>
      <h1 class="_logo">B<i>a</i>b<o>u</o></h1>
    </div>

    <div class="_grid-one-three">
      <%= yield %>
    </div>
    
  </body>
</html>
