
<div class="_changelog _padding _sidebar --divider-left --pinned" markdown="1">

#### Change Log

<div class="_color-ui-dark">
  [#major.#minor.#micro]
</div>

- __[0.0.2]__ _10-18-17_
  - too much to add
  - keeping it quiet for now

- __[0.0.1]__ _10-18-16_
  - add change log


</div>