
<% source = current_page.data.source || "" %>

<div class="_changelog _padding _sidebar --divider-left --pinned" markdown="1">

#### Change Log

<div class="_color-ui-dark">
  [major.minor.micro]
</div>

  <div class="_font-small" markdown="1">

  - __[0.0.5]__ _11-3-17_
    - griddick / layout refactored
    - mostly done

---

  - __[0.0.41]__ _11-1-17_
    - lots of rewrites and reformatting
    - design system notes

---

  - __[0.0.4]__ _10-31-17_
    - $base => $size-base to avoid confusion
    - $font-size => $font-size-base
    - css moved into one folder
    - new heart > head > neck > torso naming
    - new intro writing &amp; framing
    - added file refs in styleguide

  ---

  - __[0.0.3]__ _10-31-17_
    - core features mostly done
    - needs some refactoring
    - needs design system thinking
    - production thinking
    - [created zip backup]

  --- 

  - __[0.0.2]__ _10-18-17_
    - too much to add
    - keeping it quiet for now

  ---
  
  - __[0.0.1]__ _10-18-16_
    - add change log

  </div>
</div>





