<!-- <footer class="_footer-secondary _panel _container">
  <div>
    Sub Menu
  </div>
</footer>
 -->
<footer class="_footer _panel">
  <div>
    _stylecoeur. Free to share, free to use. 
  </div>
</footer>