<nav class="_nav _panel _container _content">
  <div class="gr-one-three">
    <span class="_logo">B<i>a</i>b<o>u</o></span>
    <div class="_right">
      <a href="#">features</a>
      <a href="#">pricing</a>
      <a href="#">about</a>
      <a href="#" class="_sep">login</a>
      <a href="#">signup</a>
    </div>
  </div>
</nav>