

<div>
  <a href="/styleguide.html">Intro</a>
  <% sitemap.resources.select { |r| r.data.type == 'styleguide' }
    .sort_by{|r| r.url }
    .each do |resource| 
  %>
    <div><a href="<%= resource.url %>"><%= resource.data.title %></a></div>
  <% end %>
</div>