
<% title = current_page.data.title || config.site_title %>

<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <% if config.use_default_head %>
      <%= partial '/partials/coeur-head' %>
    <% else %>
      <%= partial '/partials/_head' %>
    <% end %>
  </head>
  <body class="_loader">

    <div class="_main">
      <%= yield %>
    </div>

  </body>
</html>
