

// all forms should try to adhere to vertical rhythm

$color-form-bg: $color-silver !default; // rgba($color-silver-dark, 0.25);
$color-form-bg-hover: $color-silver-light !default; // rgba($color-silver-dark, 0.25);

$form-size-float: $size-smaller !default;

$color-input-bg: $color-silver-lighter !default; //rgba($color-white, 0.84);
$color-input-bg-hover: $color-silver-light !default;
$color-input-border: $color-gray !default;
$color-input-active: $color-blue !default;

$color-input-underline: $color-gray-light !default; // color-input-bg
$color-input-underline-hover: $color-gray !default;


$form-border-width: $border-base !default;
$form-border: $form-border-width solid $color-input-border !default;



$color-input-checked: $color-blue !default;
$color-focus: $color-yellow !default;
$color-selected: $color-blue !default;
$color-loading: $color-yellow !default;
$color-error: $color-red !default;



// General form styling

// use .griddick to keep things vertically aligned, centered, or spaced out
// 
// _form-group or _form-group-inline
//    _form-element or _form-element-inline
//        input
//        radio

// $font-size-base-form: $size-base-p1;
$font-size-base-form: $font-size-base; // $size-base ;


%form-style {
  @extend %ease-fast;
  // @extend %font-sans;
  font-size: $font-size-base-form;
  // @extend %font-bold;
  // @extend %font-light;
  // border-radius: $radius;

  @include input-placeholder {
    color: $color-gray-lighter;
    // color: rgba($color-yellow, 0.7);
  }

  &:focus, &:hover {
    @extend %ease-fast;
  }
  &:focus {
    @extend %focus-blue;
    background-color: transparent; // $color-white !important;
  }
}










// 
//  Form Organizational Containers
// 
._form-container-bg {
  background: $color-form-bg;
  padding: $size-base;
  border-radius: $radius;
  margin-bottom: $size-base;
}
._form-container-outline {
  padding: $size-base;
  margin-bottom: $size-base;
  border: $form-border;
  border-radius: $radius-sm;

  @include screen-xs {
    padding-left: $size-base;
    padding-right: $size-base;
  }
}



._form-control {
  position: relative;
  margin-bottom: $size-base;
}
._form-label {
  padding-bottom: $size-base/4;

  &[for=message] {
    // spacing for these is a bit off
    padding-bottom: $size-half;
  }

  &.--float {
    position: absolute;
    top: -$size-m1;
    padding-left: $size-base/4;
    padding-right: $size-base/4;
    padding-bottom: 0;
    margin-left: $size-base;
    background: $color-input-bg;
    font-size: $form-size-float;

    & + input {
      margin-top: $size-2;
      height: $size-p6;
    }
  }

}
// this icon is placed inside inputs
._form-label-icon {
  display: inline-block;
  vertical-align: middle;
  // background-color: $color-input-bg;
  // padding: $size-base/2;
  // height: $height-input;
  position: absolute;
  left: $size-base;
  top: calc(50%);
  & + input {
    display: inline-block;
    // margin-left: -6px;
    padding-left: $size-base*3;
  }
}
._form-input {
}
// group elements together 
._form-group {
  // margin-top: $size-base;
  margin-bottom: $size-base;
}



// error handling; 
._form-control.--error {
  // the entire form control error
  color: $color-error !important; // override
}
// error label
._form-control ._error,
input ._error,
textarea + ._error,
._form-error {
  color: $color-error;
  @extend ._font-small;
}


  ._form-note {
    @extend ._font-small;
  }

  ._form-element-inline {
    display: inline-block;
  }















// 
//  Individual Element Styling
// 

fieldset {
  background-color: $color-silver-light;
  border: $form-border;
  padding: $size-base;

  legend {
    padding-left: $size-base/2;
    padding-right: $size-base/2;
  }
}

label {
  display: block;
  // @extend %font-sans;
  vertical-align: top;
  cursor: default;
  padding-bottom: $size-base/4;
}

input, .input {
  @extend %form-style;
  // display: inline-block;
  display: block;
  padding: 0 $size-base;
  background: $color-input-bg;
  height: $height-input; // use height instead of base to help baseline height

  // @extend %theme-input-paper;
  // @extend ._margin-bottom-2;

  // border: $form-border-width solid $color-input-border;
  border-color: $color-input-underline;
  border-style: solid;

  margin-right: $size-base/2;

  &:focus {
    // padding: $size-base*2 $size-base;
  }

  &.--short {
    height: $height-input--short;
  }
  
  &.--width-full {
    width: 100%;
  }
  &.--width-medium {
    width: 300px;
  }

  &.--width-short {
    width: 100px;
  }

  &.--button {
    display: inline-block;
    margin-right: 0;
    vertical-align: top;
    & + button,
    & + ._button {
      margin-left: -6px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      line-height: $button-line-height - 1px;
    }

    // short button inputs
    &.--short {
      & + button,
      & + ._button {
        height: $height-input--short;
        padding-top: $size-m3 - $button-border-width/4;
        padding-bottom: $size-m3 - $button-border-width/4;
        // padding: 0;
      }
    }
    // --width-full button inputs need to float at the end
    &.--width-full {
      & + button,
      & + ._button {
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }
  &.--border {
    border: $form-border !important;
    padding-top: $size-base;
    padding-bottom: $size-base;
  }

}

  input[type="email"],
    input[type="text"],
    input[type="number"],
    input[type="password"],
    input[type="date"],
    input[type="url"] {
    // width: 100%;
    @extend %ease-fast;

    border-width: 0;
    border-bottom: $color-input-underline $border-base solid;

    &:hover {
      @extend %ease-fast;
      background-color: $color-input-bg-hover;
      border-color: $color-input-underline-hover;

    }
    &:hover:focus {
      @extend %ease-fast;
      background-color: transparent;
    }

    &[disabled] {
      cursor: not-allowed;
      color: $color-disabled;
    }
  }


  // https://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/
  input[type="file"] {
    border: none;
    padding: 0; padding-top: $size-base;
    background: 0;
    @extend %font-small;

    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;

    & + label {
      border: $border-base solid transparent;
    }
  }
    ._form-input-file:focus {
      @extend %focus-yellow;
    }

    ._form-input-file {
      &.--success {
        background-color: $color-success;
      }
      &.--loading {
        background-color: $color-loading;
      }
    }


  ._form-input-container {
    // note: inputs can't have before/after attached
    // search-select example: https://github.com/moreta/vue-search-select
    // only works for text
    &.--searchselect {
      position: relative;
      display: inline-block;

      input {
        padding-right: $size-p3;
        position: relative;
      }
      &:after {
        content: '\25BF';
        display: inline-block;
        position: absolute;
        right: $size-p1;
        top: 0;
        // height: $height-input;
        line-height: $height-input;
      }
    }
    &.--short {
      &:after {
        height: $height-input--short;
        line-height: $height-input
      }
    }
  }








textarea, .textarea {
  @extend %form-style;
  display: inline-block;
  // height: $size-base*2;
  padding: $size-base;
  background: $color-input-bg;
  width: 100%;

  // @extend %theme-input-paper;
  // @extend ._margin-bottom-2;

  // border: $form-border-width solid $color-input-border;
  // border-color: transparent !important;
  margin-right: $size-base/2;
  border: $form-border;

  &:hover {
    @extend %ease-fast;
    background-color: $color-input-bg-hover;
    // @extend %focus-blue;
  }

  &:focus {
    background-color: transparent; //$color-white !important;
  }
}













// 
// Checkboxes and Radio
// 

  ._form-checkbox {

    // margin-bottom: $size-base/2;
    
    &, * { 
      @extend %user-select-none;
      cursor: pointer;
    }

    &.--inline {
      input, span {
        height: $size-base*2;
        display: inline;
        vertical-align: middle;
      }
    }

    input:focus {
      border: 0;
      box-shadow: none;

      & + span {
        // border-bottom: $border-base solid $color-blue-light;
      }
    }
    input:checked {
      & + span {
        color: $color-input-checked;
        // border-color: $color-blue-light;
      }
    }
    input[disabled] {
      & + span {
        cursor: not-allowed;
        color: $color-disabled;
        // border-color: $color-blue-light;
      }
    }
  }











// 
//    Radio Buttons / Radio Group
// 

._form-radiogroup {
  // @extend ._margin-bottom-2;
  // margin-top: $size-base/2;
}
  ._form-group-title,
  ._form-radiogroup-title {
    @extend %font-bold;
  }

  ._form-radio {

    // margin-bottom: $size-base/2;
    label {
      line-height: 0;
      cursor: pointer;
    }

    &, * { 
      @extend %user-select-none;
    }

    &.--inline {
      input, span {
        height: $size-base*2;
        display: inline;
        vertical-align: middle;
        cursor: pointer;
      }
    }

    input:focus {
      border: 0;
      box-shadow: none;

      & + span {
        border-bottom: $border-base solid $color-focus;
      }
    }
    input:checked {
      & + span {
        color: $color-selected;
        // border-color: $color-blue-light;
      }
    }
    input[disabled] {
      & + span {
        cursor: not-allowed;
        color: $color-disabled;
        // border-color: $color-blue-light;
      }
    }

  }



// 
// Option / Select / Dropdowns 
// 

._form-select {
  position: relative;
  // white-space: nowrap; // or the dropdown does misalignment things
}
  ._form-select-element {
    position: relative;
    @include screen-xs {
      
    }
  }

._form-select-dropdown {
  z-index: 9;
  position: absolute;
  right: 20px;

  .fa {
    vertical-align: bottom;
    // line-height: 12px;
  }
  
  & + select {
    @extend %form-style;
    min-width: 200px;
    cursor: pointer;

    padding: $size-base/2;
    padding-right: $size-base * 2;

    z-index: 10;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    -moz-appearance: none;
    -moz-border-radius: 0;
    background: transparent;

    position: relative;
    top: -2px; // align with label
    
    &:focus {
      @extend %focus-blue;
    }

    option {
      padding: $size-base/4;
    }
      option:checked {
        background-color: $color-red;
      }

    @include screen-xs {
      width: 100%;
      margin-left: 0 !important;
      margin-right: 0 !important;
    }

    & + .fa-angle-down {
      position: absolute;
      right: $size-base;
      top: 50%; //0px;

      @include screen-xs {
        top: 80%;
      }
    }
  }
}




// 
// Range Slider
// adapted from: https://codepen.io/seanstopnik/pen/CeLqA
// 
$range-handle-color: $color-main !default;
$range-handle-color-hover: $color-hover !default;
$range-handle-size: $size-base !default;

$range-track-color: $color-ui !default;
$range-track-height: $size-base/4 !default;


._form-slider {

  margin-bottom: $size-base * 2;

  label {
    padding-bottom: $size-base;
  }

  input {

    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    height: $range-track-height;
    border-radius: $radius;
    background: $range-track-color;
    outline: none;
    padding: 0;
    margin: 0;

    // Range Handle
    &::-webkit-slider-thumb,
    &::-moz-slider-thumb,
     {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      width: $range-handle-size;
      height: $range-handle-size;
      border-radius: 50%;
      background: $range-handle-color;
      cursor: pointer;
      transition: background $speed-fast ease-in-out;

      &:hover {
        background: $range-handle-color-hover;
        transition: background $speed-fast ease-in-out;
      }
    }

    &:active::-webkit-slider-thumb,
    &:active::-moz-slider-thumb, {
      background: $range-handle-color-hover;
      transition: background $speed-fast ease-in-out;
    }

    &::-moz-range-thumb {
      width: $range-handle-size;
      height: $range-handle-size;
      border: 0;
      border-radius: 50%;
      background: $range-handle-color;
      cursor: pointer;
      transition: background $speed-fast ease-in-out;

      &:hover {
        background: $range-handle-color-hover;
        transition: background $speed-fast ease-in-out;
      }
    }

  }

  &:active::-moz-range-thumb {
    background: $range-handle-color-hover;
  }

  &:focus {
    border: 0; 
    @extend %focus-blue;
    background: $color-ui-hover;
  }

}

// Firefox Overrides
::-moz-range-track {
    background: $range-track-color;
    border: 0;
}


// honeypot 
._form-fake {
  position: fixed;
  z-index: -100;
  opacity: 0;
}



