
#wireframe

._wireframe-frame
  ._wf-block
    ._grid-1-4._align-vertically
      %div Nav
      ._right-sm 
        %span._wf-cta._margin-none-i Login
        %span._wf-cta Sign Up as Student
        %span._wf-btn._margin-left Apply as Tutor
  %h2 Marketing Header
  %p._wf-tbd TBD: Marketing material
  ._wf-section._grid-2
    ._wf-block._wf-cta Sign Up as Student
    ._wf-block._wf-cta._margin-none Apply as Tutor
  %p._wf-tbd TBD: More marketing material

<div class="_wireframe-comments" markdown="1">
:markdown

  # Comments

  Main index page for the prototype. In the future, this might be replaced by the marketing site. For now, this provides entry for signups and logins.

  - Provide prominent buttons and hooks for sign up and login flow
  - Display **prototype** restrictions
    - Not a commercial app, for testing only
  - Marketing and design requirements will be provided by the graphic designer

  ## Actions
  - **Login**
  - **[Apply as Tutor]** > Tutor Application Page
  - **[Sign Up as Student]** > Student Signup Page

  ## Components
  - none

</div>