
// 
//    NAV 
// 
._nav {
  margin-top: $base;
  position: relative; 
  text-transform: capitalize;
  padding-top: $base*2;
  padding-bottom: $base*2;

  &.--pinned {
    @extend %ease-slow;
    background-color: $color-silver-lighter;
    @extend %box_shadow-raised;
    top: 0 !important;
  }

  a {
    font-size: $base;
    position: relative; 
    display: inline-block;
    border-bottom: none;
    margin-right: $base;
    @extend ._font-light;
  }
}
