
$sidebar-width-max: 100%; // 200px;
$sidebar-width: $sidebar-width-max;

$sidebar-color-link: $color-main;
$sidebar-color-hover: $color-active;
$sidebar-border: $border-line solid $color-ui;

._sidebar {
  max-width: $sidebar-width-max;
  width: $sidebar-width;
  overflow-y: scroll;
  padding-bottom: $base*2;

  a {
    font-weight: 500;
    font-size: $base;
    line-height: $base*1.5;
    // padding-bottom:$base/8;
    margin-bottom: $base/4;
    margin-right: $base*2;
    display: inline-block;
    color: $sidebar-color-link;
    border: 0;
    border-color: $sidebar-color-link;

    &:hover {
      color: $sidebar-color-hover;
      border-color: $sidebar-color-hover
    }
  }
  
  
  &.--pinned {
    @extend ._pinned-sm;
    height: 100vh;
  }

  @include screen-xs { 
    margin: 0;
  }

  @include screen-sm { 
    &.--divider {
      border-right: $sidebar-border;
      // padding-right: $base;
      // margin-right: $base;

      &-left {
        border-right: 0;
        border-left: $sidebar-border;
      }
    }
  }
}

._sidebar-section_title {
  margin-top: $base;
  // @extend h5;
  // @extend %font-bold;
  @extend %font-small;
  padding-bottom: $base/4;
  margin-bottom: $base/4;
  // margin-right: $base*2;
  border-bottom: $sidebar-border;
}


