

// these are mainly used for styleguides
// if they apply anywhere else, then sure.


$styleguide-border: $border-thin solid $color-ui-dark;
// color swatches used mostly for styleguides

._swatch {

}

  ._swatch-color {
    // color block
    height: 120px;
    width: 100%;
    border-radius: $radius;
    margin-bottom: $base;
  }

  ._swatch-description {
    @extend %font-small;
  }

._styleguide-example {
  border: $styleguide-border;
  border-radius: $radius;
  padding: $base;
  margin-bottom: $base*3;

  & + pre { // fuse code together w/ example
    margin-top: -$base*3 - 3px;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
  }
}

._styleguide {
  h5 {
    padding-top: $base * 2; // subheaders need room
  }
}

// top nav on styleguide
._styleguide-nav {
  padding-top: $base/2;
  padding-bottom: $base/2;
  padding-left: $base;
  padding-right: $base;
  border-bottom: $styleguide-border;

  a {
    display: inline-block;
    vertical-align: middle;
    border: 0;
  }
  ._logo-heart {
    vertical-align: middle;
    width: 40px;
    height: auto;
  }
}