

// paired w/ magicScroll

// base / hidden style
._scrollReveal {
  position: relative;
  @extend %ease-xslow;

  // default
  opacity: 0;
  top: 35px;

  &.--fade {
    top: 0 !important;
  }

  &.--revealed {
    // @extend %ease-xslow;

    // default
    opacity: 1;
    top: 0;
  }

}
