

// 
//    WIREFRAMES
// 

/*

    Styles that make components look sketchy

    BLOKK font: (black squares)
      'BLOKK, BLOKK1, BLOKK2' <link href= <%= source + "./fonts/BLOKK/stylesheet.css" %> rel="stylesheet">

    Redacted font: (scribbles)
*/

// redacted
%font-redacted, ._font-redacted,
%font-wf, ._font-wf, {
  font-family: 'redacted script', system-ui, sans-serif;
}

%font-redacted-block, ._font-redacted-block, 
%font-wf2, ._font-wf2 {
  font-family: 'redacted', system-ui, sans-serif;

}

// blokk
%font-blokk, ._font-blokk,
%font-wf3, ._font-wf3 {
  font-family: 'BLOKK', system-ui, sans-serif;
}
%font-blokk2, ._font-blokk2,
%font-wf4, ._font-wf4 {
  font-family: 'BLOKK2', system-ui, sans-serif;
}
%font-blokk3, ._font-blokk3,
%font-wf5, ._font-wf5 {
  font-family: 'BLOKK3', system-ui, sans-serif;
}


$wireframe-color:         $color-ui    !default;
$wireframe-border-width:  $border-line !default;
$wireframe-border-style:  solid        !default;
$wireframe-border: $wireframe-border-style $wireframe-border-width $wireframe-color;

$size-wf: $size-base;
$color-wf-main: $color-main;
$color-wf-bg: $wireframe-color;
$radius-wf: $radius;

// setting up text on wireframe MM template

._wireframe-desc, ._wf-desc {
  @extend ._width-content-max; 
  @extend ._grid_item-overflow;
  @extend ._padding-2;
  @extend ._margin-center;
  padding-left: 0;
}

// gray box for contextualizing wfs
._wireframe-container, ._wf-container {
  padding: $size-base;
  // margin-bottom: $size-base;
  background-color: $color-ui;
}

// requirements / comments
._wireframe-comments, ._wf-comments {
  @extend ._width-content-max;
  @extend ._grid_item-overflow;
  margin: 0 auto;
  margin-top: $size-base;
  padding: $size-2;
  background-color: $color-ui-light;

  h1 { 
    @extend %font-largest;
  }
  h2 { 
    @extend %font-larger;
  }
  h3 {
    @extend %font-large;
  }
  h4 {
    @extend %font-body;
  }
}

// Container for framing the wireframe 
// - gray outline
._wireframe-frame, ._wf-frame {
  background-color: $color-bg;
  // background-color: $color-ui;
  padding: $size-wf;
  // border-color: $wireframe-color;
  // border-style: $wireframe-border-style;
  // border-width: $wireframe-border-width;
}








// Wireframe Objects

._wireframe-block, ._wf-block {
  // margin: $size-wf;
  padding: $size-wf;
  border: $wireframe-border;
}
._wireframe-inline-block, ._wf-inline-block {
  @extend ._wf-block;
  display: inline-block;
}
._wireframe-section, ._wf-section {
  margin-top: $size-wf;
  margin-bottom: $size-wf;
}
._wireframe-cta, ._wf-cta {
  // these are generic CTAs, and look like links
  // font-weight: bold;
  // margin-right: $size-wf/2;
  display: inline-block;
  color: $color-wf-main;
  cursor: pointer;
  &:not(:first-child):not(._margin-none) {
    margin-left: $size-wf/2;
  }
  @include screen-xs
}
._wireframe-btn, ._wf-btn {
  // these are more button-looking CTAs
  @extend ._wf-cta;
  padding: $size-wf/2 $size-wf;
  background-color: $color-wf-bg;
  border: $wireframe-border;
  border-radius: $radius-wf;

  margin: 0; // necessary for bg to extend to edges
  &:not(:first-child) {
    margin-left: $size-wf/2;
  }
}
._wireframe-tbd, ._wf-tbd {
  opacity: 0.5;
}

// Image Placeholder

._wireframe-image {
  display: grid;
  // these cause problems w/ img object
  // box-model: forces scroll
  // border-color: $wireframe-color;
  // border-style: $wireframe-border-style;
  // border-width: $wireframe-border-width;
  @extend ._align-horizontally;
  @extend ._align-vertically;

  html { // inside the object
    &,* { overflow: hidden; }
  }

  background-color: $color-ui;

  &[data-alt]:after {
    content: attr(data-alt);
    display: block;
  } 
}


// Geometries
._wireframe-circle,
._wireframe-round,
._wireframe-oval {
  border-color: $wireframe-color;
  border-style: $wireframe-border-style;
  border-width: $wireframe-border-width;

  border-radius: 100px;
  display: inline-block;
}
._wireframe-rectangle,
._wireframe-rect,
._wireframe-square {
  border-color: $wireframe-color;
  border-style: $wireframe-border-style;
  border-width: $wireframe-border-width;

  display: inline-block;
}




._wireframe-tri,
._wireframe-triangle {

  &.--up {
    @include css-triangle($wireframe-color, up, $size-base, relative, true);
  }
  &.--up-left {
    @include css-triangle($wireframe-color, up-left, $size-base, relative, true);
  }
  &.--down {
    @include css-triangle($wireframe-color, down, $size-base, relative, true);
  }
  &.--left {
    @include css-triangle($wireframe-color, left, $size-base, relative, true);
  }
  &.--right {
    @include css-triangle($wireframe-color, right, $size-base, relative, true);
  }

}


