

/*

  requires js:

  <script>
    $('._expander').on('click', function() {
      $(this).toggleClass('--open');
    });
  </script>

*/

$expander-border: $border-line solid $color-ui !default;
$expander-color-hover: $color-main !default;
$expander-color-hover-bg: $color-silver-light !default;

._expander {
  position: relative;
  border:  $expander-border; 
  padding: $size-base;
  // border-radius: $radius;
  cursor: pointer;
  @extend %ease-fast;

  display: grid;
  grid-template-columns: 1fr 9fr;

  overflow: hidden;

  &.--icon-none { 
    display: block;
    ._expander-icon {
      display: none;
    }
  }

  ._expander-icon {
    text-align: center;
    color: $expander-color-hover;
    @extend %ease-fast;
    height: $size-base; // keeps the rotation in check
  }

  ._anim-right { 
    color: $expander-color-hover;
    position: relative;
    left: 0;
    @extend %ease-fast;
  }
  &:hover {
    color: $expander-color-hover;
    background-color: $expander-color-hover-bg;
    ._anim-right {
      color: $expander-color-hover;
      left: $size-base/2;
      @extend %ease-fast;

      // don't animate on mobile, or it does weird things
      @include screen-xs {
        left: 0 !important;
      }
    }
  }

  
  // &:not(.--open) {
  //   @extend %ease;
  //   // ._expander-content {
    ._expander-title {
        & ~ * {
          height: 0;
          opacity: 0;
          margin: 0;
          display: inline-block; // 1.55
          display: block; // 1.56
          // padding: 0;
          @extend %ease-fast;
          // transform: scaleY(0);
        }
      }
    // }
  // }

  &.--open {
    @extend %ease-fast;
    ._expander-icon {
      height: $size-base*2; // keeps the rotation in check
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg); 
    }
    ._expander-title {
      & ~ * {
        // overflow: inherit;
        // visibility: visible;
        height: auto;
        opacity: 1;
        @extend %ease-fast;
        // display: initial;
        display: inherit;
        // transform: scaleY(1);
      }
    }

  }
}
