
<div class="_swatch ">
  <div class="_swatch-color <%= "_color-bg-#{varName}" %>"></div>
  <div class="_swatch-description">
    <div><strong><%= name %></strong></div>
    <div class="_font-mono">$color-<%= varName %></div>
    <div class="_font-mono"><%= swatch %></div>
  </div>
</div>