<svg class="_v-bottom" width="40" height="30" viewBox="0 0 100 81" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
        <linearGradient x1="50%" y1="49.8186384%" x2="50%" y2="0%" id="linearGradient-1">
            <stop stop-color="#F63636" offset="0%"></stop>
            <stop stop-color="#F63636" offset="100%"></stop>
        </linearGradient>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="stylecoeur_ico4" transform="translate(0.000000, -11.000000)" fill="url(#linearGradient-1)">
            <g id="Group" transform="translate(0.000000, 11.000000)">
                <g id="Group-3">
                    <polygon id="Path-Copy-12" points="40.8602151 6.19327748e-16 21.5053763 6.19327748e-16 17.0451253 5.75679777 0 27.7567568 46.8988317 74.5265871 77.2936407 0 67.7419355 6.19327748e-16 53.7634409 11.7432432"></polygon>
                    <polygon id="Path-Copy-13" fill-opacity="0.9" points="51.3254096 78.9631593 52.6062043 80.2981462 99.9777631 27.7753387 84.5766718 4.27027027"></polygon>
                </g>
            </g>
        </g>
    </g>
</svg>

<!-- <svg width="40" height="30" viewBox="0 0 100 79" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient x1="50%" y1="49.82%" x2="50%" y2="0%" id="a"><stop stop-color="#F63636" offset="0%"/><stop stop-color="#F63636" offset="100%"/></linearGradient></defs><g transform="translate(0 -13)" fill="url(#a)" fill-rule="evenodd"><path d="M40.86 13H21.51l-4.46 5.76L0 40.76l40.48 43.86L77.29 13h-9.55L53.76 24.74z"/><path fill-opacity=".9" d="M45.4 89.9l1.27 1.33 53.3-50.45-15.4-23.51z"/></g></svg> -->

<!-- <svg class="_logo-heart" width="100" height="80" viewBox="0 0 100 80" xmlns="http://www.w3.org/2000/svg"><title>Group 3</title><defs><linearGradient x1="50%" y1="49.82%" x2="50%" y2="0%" id="a"><stop stop-color="#F63636" offset="0%"/><stop stop-color="#FBAF66" offset="100%"/></linearGradient></defs><g transform="translate(0 -11)" fill="url(#a)" fill-rule="evenodd"><path d="M38 11H20l-4.15 5.4L0 37l37.87 40.9 34-66.9H63L50 22"/><path fill-opacity=".7" d="M45 87l5 4 17.66-19.07 4.3-4.64L100 37 82 15"/></g></svg> -->