
<% source = current_page.data.source || "" %>

<div class="_changelog _padding --divider-left" markdown="1">

#### Change Log

<div class="_color-ui-dark">
  [major.minor.micro]
</div>

---

<div class="_font-small" markdown="1">

- [0.1.57] (new)
  - changed _expander from initial to inherit


- [0.1.56]
  - changed _expander to block instead for hidden

- [0.1.55]
  - reduced minWidth screen size to 320px for iPhone 5s
  - increased size-p2 from 28 > 32 basis
  - _expander: forced display inline-block for hidden children
  - stacked tables: changed the way :before titles are displayed to support multi-row data

- [0.1.54]
  - fixed circular loader to be center positioned

- [0.1.53]
  - added '--disabled' state to '--outline' buttons
  
- [0.1.52]
  - added multiple sizes for griddick, e.g. _grid-2-3-md applies -2-3 to md and up
  - improved torso-expander fluidity
  - added a `--live` component to sizer.js; used w/ lodash
  - added `height: initial`

- [0.1.51]
  - added a `--circular` loader

- [0.1.50]
  - added _height-100, and moved some stuff from helpers to design

- [0.1.48]
  - added table alignment stuff, notes updates
  - added colorate mixin for colors, changed the way colors are established

- [0.1.47]
  - improved the build system; now makes 1000% more sense
  - better wireframe generation system

- [0.1.46]
  - added grid auto columns, inline grid
  - added 'radius-none-left' and 'radius-none-right'
  - moved 'height-' to coeur, might need to rename it later to be more consistent
  - support for auto-scaling 3 column buttons w/ inputs
  - updated the css order in forms for input

- [0.1.45]
  - moved sidebar arrows to right
  - added tables
  - simplified the way changes are logged lol
  
- ...older logs...
  - added sidebar show/hide
  - finished the localStorage section
  - added to npm package 'coeur'
  - changed the way folders (scripts and styles) are referenced
  - added an asset copying mechanism
  - converted the original middleman to a 'docs' folder to keep it separate from the styles and scripts
  - style and scripts are now 'stylecoeur' and 'scriptcoeur' 
  - moved asset builder to ruby / middleman config
  - added wireframe templates
  - changed the way logging works :P

---

  - __[0.1.5]__ _2-10-17_
    - moved colors into _heart

---

  - __[0.1.0]__ _1-10-18_
    - officially 'live'
    - added more text rendering options
    - added experimental interactive Vue component; integrates nicely

---

  - __[0.0.5]__ _11-3-17_
    - griddick / layout refactored
    - mostly done

---

  - __[0.0.41]__ _11-1-17_
    - lots of rewrites and reformatting
    - design system notes

---

  - __[0.0.4]__ _10-31-17_
    - $base => $size-base to avoid confusion
    - $font-size => $font-size-base
    - css moved into one folder
    - new heart > head > neck > torso naming
    - new intro writing &amp; framing
    - added file refs in styleguide

  ---

  - __[0.0.3]__ _10-31-17_
    - core features mostly done
    - needs some refactoring
    - needs design system thinking
    - production thinking
    - [created zip backup]

  --- 

  - __[0.0.2]__ _10-18-17_
    - too much to add
    - keeping it quiet for now

  ---
  
  - __[0.0.1]__ _10-18-16_
    - add change log

  </div>
</div>





