
// border sizes
$border-line: 1px;      ._border-line { border-width: $border-line }
$border-thin: 2px;      ._border-thin { border-width: $border-thin }
$border-medium: 3px;    ._border-medium { border-width: $border-medium }
$border-thick: 6px;     ._border-thick { border-width: $border-thick }
$border-massive: 12px;  ._border-massive { border-width: $border-massive }

// general border width
$border-width: $border-thin;
