---
title: Images
type: styleguide
layout: layout-knowbase
name: images
section: fundamental
source: ../
---


<main markdown="1">

## Images

There are many ways to place images with content. Either float them next to content, use the grid system, or use background images.

When the image container has set parameters like width and height, `object-fit` can be used to fit the image to the container. Can also change positioning using [`object-position`](https://css-tricks.com/almanac/properties/o/object-position/) .

### Filters

- `filter: blur(3px) grayscale(20%); -webkit-filter: ...`
- `blur(3px)`
- `brightness(3 | 30%)`
- `contrast( 3 | 30% )`
- `drop-shadow(16px 16px 10px rgba(0,0,0,0.9))`
- `grayscale(20%)`
- `hue-rotate(150deg)`
- `invert(0.8 | 80%)`
- `opacity(0.8 | 80%)`
- `saturate(3 | 30%)`
- `sepia(3 | 30%)`
- `url()` - for applying SVG filters. [Example](https://css-tricks.com/gooey-effect/)



### Floating Images

- Images can be floated next to content
- `_img-full` to apply 100% width to images that would otherwise be too wide for the page
- make sure to use `clearfix` to wrap your containers when floating images next to content

<div class="_styleguide-example">

<div class="_grid-two">
  <div class="clearfix _padding">
    <img width="120" height="auto" class=" _float-left _padding-right "
    src="../images/grumpy.jpg"> 
    Stylecoeur is a personal cheat sheet and boilerplate to make prototyping or development both quick and look professional. It's my own alternative to Bootstrap. It prioritizes development speed over reliability and load times.

    <div class="_margin-top">
      <p>object-fit: fill</p>
      <img width="100%" height="150px" class="_img-fit-fill" src="../images/grumpy_sm.jpg">
    </div>

    <div class="_margin-top">
      <p>object-fit: contain</p>
      <img width="100%" height="150px" class="_img-fit-contain _color-bg-white" src="../images/grumpy_sm.jpg">
    </div>

    <div class="_margin-top">
      <p>object-fit: cover</p>
      <img width="100%" height="150px" class="_img-fit-cover _color-bg-white" src="../images/grumpy_sm.jpg">
    </div>

    <div class="_margin-top">
      <p>object-fit: none (uses the original image dimensions)</p>
      <img width="100%" height="150px" class="_img-fit-none _color-bg-white" src="../images/grumpy_sm.jpg">
    </div>

    <div class="_margin-top">
      <p>object-fit: scale-down (best fit between none and contain)</p>
      <img width="100%" height="150px" class="_img-fit-scale_down _color-bg-white" src="../images/grumpy_sm.jpg">
    </div>

  </div>

  <div class="clearfix _padding">
      <p>_img-full: full width</p>
    <img class="_img-full _padding-bottom _float-left "
    src="../images/grumpy.jpg"> 
    Stylecoeur is a personal cheat sheet and boilerplate to make prototyping or development both quick and look professional. It's my own alternative to Bootstrap. It prioritizes development speed over reliability and load times.
  </div>
</div>

</div>
~~~html

<div class="_grid-two">
  <div class="clearfix _padding">
    <img width="120" height="auto" class=" _float-left _padding-right "
    src="../images/grumpy.jpg"> 
    Stylecoeur is a personal cheat sheet and boilerplate to make prototyping or development both quick and look professional. It's my own alternative to Bootstrap. It prioritizes development speed over reliability and load times.

    <div class="_margin-top">
      <p>object-fit: fill</p>
      <img width="100%" height="150px" class="_img-fit-fill" src="../images/grumpy_sm.jpg">
    </div>

    <div class="_margin-top">
      <p>object-fit: contain</p>
      <img width="100%" height="150px" class="_img-fit-contain _color-bg-white" src="../images/grumpy_sm.jpg">
    </div>

    <div class="_margin-top">
      <p>object-fit: cover</p>
      <img width="100%" height="150px" class="_img-fit-cover _color-bg-white" src="../images/grumpy_sm.jpg">
    </div>

    <div class="_margin-top">
      <p>object-fit: none (uses the original image dimensions)</p>
      <img width="100%" height="150px" class="_img-fit-none _color-bg-white" src="../images/grumpy_sm.jpg">
    </div>

    <div class="_margin-top">
      <p>object-fit: scale-down (best fit between none and contain)</p>
      <img width="100%" height="150px" class="_img-fit-scale_down _color-bg-white" src="../images/grumpy_sm.jpg">
    </div>

  </div>

  <div class="clearfix _padding">
    <p>_img-full: full width</p>
    <img class="_img-full _padding-bottom _float-left "
    src="../images/grumpy.jpg"> 
    Stylecoeur is a personal cheat sheet and boilerplate to make prototyping or development both quick and look professional. It's my own alternative to Bootstrap. It prioritizes development speed over reliability and load times.
  </div>
</div>
~~~


### Background Images

Background images can be used for cards and other situations where text appears above images.

- Keep in mind images don't get shared on social media or get crawled
- Height always needs to be specified
- Background Clip can affect whether the background image stretches past the border, stays within the border, or only extends to the content area

<div class="_styleguide-example">

<div class="_grid-three">
  <div 
    class="_bg-img _padding _align-bottom "
    style="height: 250px; background-image: url('../images/grumpy.jpg');">
    <div class="">Cover Background</div>
  </div>

  <div 
    class="_bg-img _bg-contain _padding _align-bottom "
    style="height: 200px; background-image: url('../images/grumpy.jpg');">
    <div class="">Contain Background</div>
  </div>

  <div 
    class="_bg-img _bg-fixed _padding _align-bottom "
    style="height: 250px; background-image: url('../images/grumpy.jpg');">
    <div class="">Fixed Background</div>
  </div>

  <div 
    class="_bg-img _bg-border_box _border --massive _radius-none-i _padding _align-bottom "
    style="height: 220px; 
           background-image: url('../images/grumpy.jpg');
           border-color: rgba(255,0,0,0.5);
          ">
    <div class="">Bg Border Box</div>
  </div>

  <div 
    class="_bg-img _bg-top_bg-padding_box _border --massive _radius-none _padding _align-bottom "
    style="height: 220px; background-image: url('../images/grumpy.jpg');">
    <div class="">Bg Padding Box</div>
  </div>

  <div 
    class="_bg-img _bg-content_box _border --massive _radius-none _color-border-main _padding _align-bottom "
    style="height: 220px; background-image: url('../images/grumpy.jpg');">
    <div class="">Bg Content Box</div>
  </div>

</div>

</div>
~~~html

<div class="_grid-three">
  <div 
    class="_bg-img _padding _align-bottom "
    style="height: 250px; background-image: url('../images/grumpy.jpg');">
    <div class="">Cover Background</div>
  </div>

  <div 
    class="_bg-img _bg-contain _padding _align-bottom "
    style="height: 200px; background-image: url('../images/grumpy.jpg');">
    <div class="">Contain Background</div>
  </div>

  <div 
    class="_bg-img _bg-fixed _padding _align-bottom "
    style="height: 250px; background-image: url('../images/grumpy.jpg');">
    <div class="">Fixed Background</div>
  </div>

  <div 
    class="_bg-img _bg-border_box _border --massive _radius-none-i _padding _align-bottom "
    style="height: 220px; 
           background-image: url('../images/grumpy.jpg');
           border-color: rgba(255,0,0,0.5);
          ">
    <div class="">Bg Border Box</div>
  </div>

  <div 
    class="_bg-img _bg-top_bg-padding_box _border --massive _radius-none _padding _align-bottom "
    style="height: 220px; background-image: url('../images/grumpy.jpg');">
    <div class="">Bg Padding Box</div>
  </div>

  <div 
    class="_bg-img _bg-content_box _border --massive _radius-none _color-border-main _padding _align-bottom "
    style="height: 220px; background-image: url('../images/grumpy.jpg');">
    <div class="">Bg Content Box</div>
  </div>

</div>
~~~


</main>


