---
title: Design
type: styleguide
layout: layout-styleguide
name: helpers
section: fundamental
source: ../
reference: _neck-design.scss
---


<main markdown="1">

## Design

<%= partial '/partials/styleguide-ref', 
    :locals => { :refName => current_page.data.reference } %>

Aside from the grid and layout helper classes,  `_head-helpers` and `_neck-design` contain typography, design, and other visual helpers.



### Text and Fonts

Helpers and design; rendering, text, speed, antialias, subpixel etc.
{: ._message .--warning}



### Size Helper

### Shadows

### Image Filters
https://css-tricks.com/almanac/properties/f/filter/



</main>


