

._wireframe-frame
  %h2 Wireframe Template
  %p This is the wireframe sample template, in HAML
  %p._font-wf this is some scribbly
<div class="_wireframe-comments" markdown="1">
:markdown
  ### Wireframes support Markdown

  Keep notes, requirements, and such in the (markdown-supported) `_wireframe-comments` section!
</div>