---
layout: layout-main
---



<summary class="_width-content-max _padding-2 " markdown="1">

<div class="_center-margin _center _padding-2" markdown="1">
  
<div><%= partial 'partials/logo' %></div>

# \_stylecoeur

#### The Heart of Design

</div>

<!-- 
<blockquote class="">
This is my design system. There are many like it, but this one is mine. My design system is my best friend. It is my life. I must master it as I must master my life. Without me, my design system is useless. Without my design system, I am useless.
</blockquote>
 -->
<div markdown="1">
This is not a framework or a design system, but a starting point. This is a **collection of concepts**, SCSS, and Javascript bundled together to make prototyping faster and more efficient. 

Its purpose is to speed up _prototype building_, and sacrifices load speed and efficiency.
</div> 
{: ._padding-top-2 ._padding-bottom-2 ._center-margin ._width-content-max-narrow}

</summary>


<div class="_center-margin _center">
  <div class="_buttonGroup --font-body-xs --outline">
    <a class="_button" target="_blank" href="./design.html">Design System</a>
    <a class="_button" target="_blank" href="./styleguide.html">Style Guide</a>
    <a class="_button" target="_blank" href="./notes.html">Notes</a>
  </div>
  <a class="_button --text _v-top" target="_blank" href="http://github.com/janzheng/stylecoeur">Github</a>
</div>


<div class="_width-content-max-narrow _center-margin _padding-2" markdown="1">

## Overview

If you reuse design processes and UI patterns over and over, why reinvent the wheel? Save yourself time and create a toolbox of reusable components. Every designer should have their own collection. You may use this for your projects, or use this as a starting point for your own.

The idea is to centralize thought, processes and learning from previous projects for the betterment of future projects. Standardizations, conventions, and checklists will reduce the amount of work, deduplicate thought, and reduce for future projects. [Surgeons use checklists to save lives](http://www.npr.org/templates/story/story.php?storyId=122226184), so let's learn from them.


#### Considerations

- Brand Style
- Copy Writing / Voice and Tone
- Biz Requirements, UX and Service Design
- Research, User and Audience considerations: usability, accessibility | when, where, who, why, how do people use your thing? Why does it matter
- Interface Layout and appearance, multiple devices, interactivity, design patterns
- Design Iteration Prototyping Communication Workflow
- Production, Workflow and Communication
- Meta Design System — annotation, logging changes, communicating updates, continuous maintenance — hardest part of a design system
- Appearances — marketing, social; how does your everything appear to the world? how should it? what are the things you really care about?

<div markdown="1">
### Design Guide

The design guide offers checklists and resources, and acts as a starting point for developing new brands, design systems, and design research. It's a collection of things to think about.
</div>


<div markdown="1">
### Style Guide 
<div class="_font-small _font-bold"> (Cheat Sheet) </div>

The style guide is set up to provide assistance to prototypes and new projects with implementations to common UI patterns with SCSS and JS. Projects can import all of the style guide `_stylecoeur`, or selectively import certain components, then differentiate on top of the core.
</div>


<div markdown="1">
### Notes

This is a living, growing document. The Notes section denotes all the changes over time, and possible changes to come. 

- https://uxcellence.com/2017/design-systems-style-guides-pattern-libraries

- Design system
  - The comprehensive set of values, semantics, syntax, and context that form the foundation of a shared design language
- Style guide
  - The physical or digital document that represents the styles, patterns, practices, and principles of a design system and teaches how to use it
- Pattern library
  - An organized set of related, reusable components, often containing code examples, design guidelines, and use cases
- Component
  - A self-contained and reusable pattern that represents a specific piece of interface or functionality


</div>


https://github.com/miukimiu/design-systems



### Other Guides

Refer to other style guides and design to gain useful insight.

Need to categorize further: style guide, design system, css framework, pattern library, standard; what is it?


Source: 
- [UXPin Adele](https://adele.uxpin.com/)

https://react.semantic-ui.com/introduction
https://ant.design/docs/spec/introduce
http://www.oracle.com/webfolder/ux/middleware/alta/index.html
https://www.sap.com/sweden/products/fiori.html
https://primer.github.io/
https://purecss.io/
https://foundation.zurb.com/


<div class="_grid-two">

<div markdown="1">
##### Style Guides / Design Resources

- [Brad Frost Style Guide Guide](http://bradfrost.github.io/style-guide-guide/)
- [Design Principles](https://principles.design/)
- [duolingo](http://www.duolingo.com/design/)
- [Trello Nachos](https://design.trello.com/)
- [Mailchimp](https://ux.mailchimp.com/)
- [Corpus](http://jamiewilson.io/corpus/)
- [ESFA gov.uk.co](https://das-patterns.herokuapp.com)
- [Helpscount Patterns](http://style.helpscout.com/)
- [Instacart Snacks](https://instacart.github.io/Snacks/)
- [Consumer Financial Protection Bureau CFPB](https://cfpb.github.io/design-manual/index.html)
- [auth0](https://styleguide.auth0.com/#/)
- [Priceline Design System](https://pricelinelabs.github.io/design-system)
- [Family Search](https://www.familysearch.org/frontier/styleguide/)
- [AppearHere Bloom](http://bloom.appearhere.co.uk/)
- [Brand Estonia](https://brand.estonia.ee/)
- [Help Scout](http://style.helpscout.com/)
- [Mixpanel Styleguide](http://mixpanel.github.io/mixpanel-common/examples/style-guide-new/)
- [Duolingo Design](https://www.duolingo.com/design/)
- [Buzzfeed Solid](https://solid.buzzfeed.com/)
- [Bring &amp; Posten Hedwig](https://hedwig-docs.herokuapp.com/)
- [Future Learn Pattern Library](https://www.futurelearn.com/pattern-library)
- [Gov.uk Service Manual](https://www.gov.uk/service-manual)
- [WeWork Plasma](http://plasma.guide/)
- [HP Enterprise Grommet](http://grommet.io/)
- [BBC Gel](http://www.bbc.co.uk/gel/)
- [Lonely Planet Rizzo](http://rizzo.lonelyplanet.com/styleguide/)
- [Seek Style Guide](https://seek-oss.github.io/seek-style-guide/)
- [SkyScanner Backpack](https://backpack.github.io/)
- [ThisAlso Bonsai](http://bonsai.thisalso.com/)
- [Yelp Styleguide](https://www.yelp.com/styleguide)
- [SAP Fiori](https://experience.sap.com/fiori-design-web/)
</div>

<div markdown="1">
##### Design Systems / Design Manual / Design Languages

- [Royal Canin](http://developer.royalcanin.com/)
- [Dropbox Scooter](http://dropbox.github.io/scooter/index.html)
- [Shopify Polaris](https://polaris.shopify.com/)
- [Firefox Photon](https://design.firefox.com/)
- [Salesforce Lightning Design System](https://www.lightningdesignsystem.com/)
- [IBM Carbon](http://www.carbondesignsystem.com/)
- [Airbnb](http://airbnb.design/building-a-visual-language/)
- [U.S. Web Design Standards](https://standards.usa.gov/)
- [eBay MIND Accessibility Patterns](https://ebay.gitbooks.io/mindpatterns/)
- [Buzzfeed Solid](http://solid.buzzfeed.com/)
- [CA Technologies Mineral UI](http://mineral-ui.com/))
- [Envato Foundation Design System](https://envato.github.io/foundation-design-system/)
- [Heroku Purple3](https://purple3.herokuapp.com/)
- [Morning Star Design System](http://designsystem.morningstar.com/)
- [WordPress Design Handbook](https://wordpress.com/design-handbook/index.html)
- [National Instruments LabVIEW NXG](https://ni.github.io/design-system/)
- [OpenAQ Design System](https://github.com/openaq/openaq-design-system)
- [PluralSight Design System](http://design-system.pluralsight.com/)
- [REI Cedar](http://rei.github.io/rei-cedar)
- [AUDI UI](http://www.audi.com/ci/en/guides/user-interface/introduction.html)
- [Co-op Design Manual](https://coop-design-manual.herokuapp.com/)
- [USA Jobs Design System](http://usajobs.github.io/design-system/)
- [Atlassian Design Language](https://atlassian.design/)
- [Pattern Lab](http://patternlab.io/)
- [Predix Design System](https://www.predix-ui.com/#/home)
- [Pega UX Design System](https://design.pega.com/)
- [Intuit Harmony](http://harmony.intuit.com/)
- [Microsoft Fluent](https://fluent.microsoft.com/)
- [Microsoft Office UI Fabric](https://developer.microsoft.com/en-us/fabric/)
- [VMWare Design System](https://vmware.github.io/clarity/)
- [Ubuntu Design System](https://design.ubuntu.com/)
</div>

<div markdown="1">
##### Systems &amp; Frameworks
- [Shards: Bootstrap 4](https://designrevision.com/demo/shards/)
- [Tailwind](https://tailwindcss.com/)
- [Corpus](http://jamiewilson.io/corpus/)
</div>

<div markdown="1">
##### Pattern Libraries
- [Future Learn Pattern Library](https://www.futurelearn.com/pattern-library)
- [Cloudflare Cf-UI](https://cloudflare.github.io/cf-ui/)
- [Duo Security Design Standards](https://duosecurity.github.io/design/)
</div>

</div>


