---
layout: layout-styleguide
title: styleguide
source: ./
---

<main markdown="1">
  
# Hello, Sassypants.

This "Style Guide" is a collection of loosely nested dependent components and elements. The basic ones are built with SCSS, and complex ones with SCSS + JS. Each component needs to be as independent as possible. 

</main>

