


// 
//    Helper Utility Classes
// 


//    
//    ! use _neck-layout for semantic, contextual definitions 
// 



// 
//    IMAGE HELPERS
// 

._bg-img  {
            // use a local style to override this value
            // background-image: url('http://lorempixel.com/600/200/animals');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
          }

._bg-no_repeat      { background-repeat: no-repeat; }
._bg-cover          { background-size: cover; }
._bg-contain        { background-size: contain; }
._bg-center         { background-position: center; }
._bg-top            { background-position: top; }
._bg-right          { background-position: right; }
._bg-bottom         { background-position: bottom; }
._bg-left           { background-position: left; }

._bg-border_box  { background-clip: border-box; }
._bg-padding_box { background-clip: padding-box; }
._bg-content_box { background-clip: content-box; }

._bg-fixed          { background-attachment: fixed; }
._bg-local          { background-attachment: local; }
 
._img-fit-none       { object-fit: none; }
._img-fit-cover      { object-fit: cover; }
._img-fit-contain    { object-fit: contain; }
._img-fit-fill       { object-fit: fill; }
._img-fit-scale_down { object-fit: scale-down; }

._img-full { width: 100%; & > * {width: 100%} }



// 
//    INTERACTIVE
// 


// cursor events bubble through
// to objects underneath 
// good for z-index things like popups
._pointer-no_events {
  pointer-events: none;
}

._pointer {
  cursor: pointer;
}

._disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

// prevents double click highlighting
// use on buttons and text CTAs
._select-none,
%user-select-none {
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

._scrollbar-hide,
%_scrollbar-hide,
._hide-scrollbar,
%hide-scrollbar {
  -ms-overflow-style: none;
  &::-webkit-scrollbar { 
    display: none; 
    width: 0px;
    height: 0px;
    background: transparent;
   }
}

._scroll-horizontal {
  overflow-x: scroll;
  overflow-y: hidden;
}

._scroll-vertical {
  overflow-x: hidden;
  overflow-y: scroll;
}

._overflow-hidden { overflow: hidden; }
._overflow-scroll { overflow: scroll; }
._overflow-auto   { overflow: auto; }








// 
//    DISPLAY 
// 

._hidden {
  display: none;

  &-i {
    display: none !important;
  }

  @include genGridAttr(('xs','sm','sm-down','md','lg')) {
    display: none;
  }
}

._block {
  display: block;

  @include genGridAttr(('xs','sm','md','lg')) {
    display: block;
  }
}

._inline-block {
  display: inline-block;
}

._inline {
  display: inline;
}

._flex {
  display: flex;
}

._inline_flex {
  display: inline-flex;
}


._relative { position: relative; }
._absolute { position: absolute; }
._fixed    { position: fixed; }


._transparent {
  opacity: 0.001; // setting to 0 invokes browser bugs
}





// 
//    HEIGHT
// 

._width-full {
  width: 100%;
  max-width: 100%;
}




// 
//    SPACING, MARGINS, PADDING
// 

%margin-section {
  margin: $size-base*3 auto;
}



/* generates things like:
   _margin-top-half,
   _margin-2
*/

// tbd; this will be quite a monster

@mixin generator($property, $value:$size-base) {

}


/*
      Pattern
  
      margin-vertical-half
      margin-half
      margin-none
        margin-top-i
      margin-top
        margin-top-i
        margin-top-half
          margin-top-half-i
        margin-top-2
          margin-top-2-i
      margin-bottom
      margin-left
      margin-right

    modifiers:

*/


// 
//    MARGIN
// 


._margin-half {
  margin-top: $size-base/2;
  margin-bottom: $size-base/2;
}

._margin-2 {
  margin: $size-base*2 ;
}
  ._margin-2-i {
    margin: 0 $size-base*2 !important;
  }
._margin-none {
  margin: 0;
  &-i {
    margin: 0 !important;
  }
}
  ._margin-none-xs {
    @include screen-xs-only {
      margin: 0;
    }
  }
  ._margin-top {
    margin-top: $size-base;
    &-i {
      margin: $size-base !important;
    }
  }
    ._margin-top-xs {
      @include screen-xs-only {
        margin-top: $size-base;
      }
    }
    ._margin-top-none {
      margin-top: 0;
    }
      ._margin-top-none-i {
        margin-top: 0 !important;
      }
    ._margin-top-2 {
      margin-top: $size-base*2;
    }

  ._margin-bottom {
    margin-bottom: $size-base;
  }

    ._margin-bottom-i {
      margin-bottom: $size-base !important;
    }
    ._margin-bottom-none { margin-bottom: 0; }
      ._margin-bottom-none-i { margin-bottom: 0 !important; }

    ._margin-bottom-2 {
      margin-bottom: $size-base*2;
    }
    ._margin-bottom-xs {
      @include screen-xs-only {
        margin-bottom: $size-base;
      }
    }

  ._margin-left {
    margin-left: $size-base;
  }
    ._margin-left-sm {
      @include screen-sm {
        margin-left: $size-base;
      }
    }
    ._margin-left-2 {
      margin-left: $size-base*2;
    }
    ._margin-left-none {
      margin-left: 0 ;
    }
    ._margin-left-none-i { margin-left: 0 !important; }

  ._margin-right {
    margin-right: $size-base;
  }
    ._margin-right-2 {
      margin-right: $size-base*2;
    }
    ._margin-right-none {
      margin-right: 0;
    }
    ._margin-right-none-i { margin-right: 0 !important; }


// 
//    PADDING
// 

%padding-container-top {
  padding-top: $size-base*3;
}

%padding-container-bottom {
  padding-top: $size-base*3;
}

%padding-section {
  // padding: $size-base*3;
  padding-bottom: $size-base*3;
}

._padding-top-bottom {
  padding-top: $size-base;
  padding-bottom: $size-base;
}
._padding-top-bottom-2 {
  padding-top: $size-base*2;
  padding-bottom: $size-base*2;
}

._padding-none {
  padding: 0;
  &-i {
    padding: 0 !important;
  }
}
  ._padding {
    padding: $size-base
  }
    ._padding-2 {
      padding: $size-base*2;
      &-i {
        padding: $size-base*2 !important;
      }
    }
  ._padding-half {
    padding: $size-base/2;
  }
  ._padding-top {
    padding-top: $size-base;
  }
    ._padding-top-sm {
      @include screen-sm {
        padding-top: $size-base;
      }
    }
    ._padding-top-half {
      padding-top: $size-base/2;
    }
    ._padding-top-2 {
      padding-top: $size-base*2;
    }
    ._padding-top-3 {
      padding-top: $size-base*3;
    }
    ._padding-top-half {
      padding-top: $size-base/2;
    }
    ._padding-top-none {
      padding-top: 0;
    }
  ._padding-bottom {
    padding-bottom: $size-base;
  }
    ._padding-bottom-large {
      padding-bottom: 12vh;
    }
    ._padding-bottom-none {
      padding-bottom: 0;
      &.--i { padding-bottom: 0 !important;}
    }
      ._padding-bottom-none-i {
        padding-bottom: 0 !important;
      }
    ._padding-bottom-half {
      padding-bottom: $size-base/2;
    }
    ._padding-bottom-2 {
      padding-bottom: $size-base*2;
    }
    ._padding-bottom-xs {
      @include screen-xs-only {
        padding-bottom: $size-base !important;
      }
    }
    ._padding-bottom-sm_up {
      @include screen-sm {
        padding-bottom: $size-base !important;
      }
    }

      ._padding-bottom-three-xs {
        @include screen-xs-only {
          padding-bottom: $size-base*3;
        }
      }

    ._padding-bottom-none {
      padding-bottom: 0;
    }
  ._padding-left-right {
    padding-left: $size-base/2;
    padding-right: $size-base/2;
  }

  ._padding-right {
    padding-right: $size-base;
  }
    ._padding-right-2 {
      padding-right: $size-base*2;
    }
    ._padding-right-half {
      padding-right: $size-base/2;
    }
    ._padding-right-none {
      padding-right: 0;
    }
  ._padding-left {
    padding-left: $size-base;
  }
    ._padding-left-xs {
      @include screen-xs-only {
        padding-left: $size-base;
      }
    }
    ._padding-left-sm_up {
      @include screen-sm {
        padding-left: $size-base;
      }
    }
    ._padding-left-2 {
      padding-left: $size-base*2;
    }
    ._padding-left-half {
      padding-left: $size-base/2;
    }
    ._padding-left_none {
      padding-left: 0 !important;
    }




















// 
// 
//    ALIGNMENT 
// 
// 


._center {
  text-align: center;

  @include genGridAttr(('xs','sm','md','lg')) {
    text-align: center;
  }
}
  ._center-margin {
    // leave margin top/bot alone to prevent reset
    margin-left: auto;
    margin-right: auto;

    @include genGridAttr(('xs','sm','md','lg')) {
      margin-left: auto;
      margin-right: auto;
    }
  }

._left {
  text-align: left;

  @include genGridAttr(('xs','sm','md','lg')) {
    text-align: left;
  }
}
._right {
  text-align: right;

  @include genGridAttr(('xs','sm','md','lg')) {
    text-align: right;
  }
}

._justify {
  text-align: justify;

  @include genGridAttr(('xs','sm','md','lg')) {
    text-align: justify;
  }
}


//    Content Alignment

._v-top {
  vertical-align: top;
}
._v-middle {
  vertical-align: middle;
}
._v-bottom {
  vertical-align: bottom;
}







// 
//    FLOATS 
// 

._float-left {
  float: left;
}
._float-right {
  float: right;
}
._float-none {
  float: none;
}

._clear-both {
  clear: both;
}










// Sticky / Pinned Formatting
// - works with ScrollMagic

._pinned, .--pinned {
  padding-bottom: $size-base * 2;
  position: sticky;
  top: 0;
}
  // can't extend outside of media so...
  // this pins it only sm screens and up
  ._pinned-sm, .--pinned-sm {
    @include screen-sm { 
      // height: 100vh;
      padding-bottom: $size-base * 2;

      position: sticky;
      top: 0;
    }
  }




@mixin push--auto {
    margin: { 
        left: auto;
        right: auto;
    }
}

.what {
  margin: { 
      left: auto;
      right: auto;
  }
}







