


// 
// Layouts / Lost and found / Parts Bin
// 
// 


// 
//  Basic Styles
// 

body {
  @extend %font-body;
}

summary,
article,
section, ._section,
// footer {
{
  padding: $size-base 0;
  border-radius: 0;

  margin: 0 auto;
  @extend %width-content-max;
}


// container for content for verticality
._container {
  // padding: 0 $size*2;
  // padding-top: 4vh;
  // padding-bottom: 4vh;
  padding: 0 $size-base;
}

._container-large {
  // padding: 0 $size*2;
  padding-top: 12vh;
  padding-bottom: 12vh;
}

// 
._content {
  // padding-left: $size*2;
  // padding-right: $size*2;
  padding: 4vh $size-base*2;
}
// only perform content padding on mobile elements
._content-responsive {
  @include screen-xs {
    padding: 4vh $size-base*2;
  }
}


%padding-container-top {
  padding-top: $size-base*3;
}

%padding-container-bottom {
  padding-top: $size-base*3;
}

%padding-section {
  // padding: $size-base*3;
  padding-bottom: $size-base*3;
}




// ._block {
//   padding-bottom: $size*2;
// }

._element {
  margin: $size-base*2;
}



._narrow {
  max-width: $width-content-max-narrow;
  margin: 0 auto;
}





// Lists

ul, ol {
  padding-bottom: $size-base;

  ul {
    padding-top: $size-base/4;
    padding-bottom: 0;
  }
}

li {
  margin-bottom: $size-base/2;
  list-style-position: outside;
  margin-left: $size-base + 3px; // this shifts wrapped text 'inside' the list 
}




