

// 
//  The Heart.
//  [ core dependencies ]
// 

@import 'heart'; // coeur

// @import 'arteries/index'; // mass import the _index.scss file
@import 'arteries/reset';   
@import 'arteries/screen';
@import 'arteries/colors';
@import 'arteries/helpers';
@import 'arteries/animation';
@import 'arteries/typography';
@import 'arteries/griddick'; 
@import 'arteries/mixins'; 
@import 'arteries/borders'; 

// 
//  The Vessels.
//  [ dependent on heart and arteries ]
// 

// @import 'vessels/index'; 
@import 'vessels/links'; 
@import 'vessels/buttons'; 
@import 'vessels/message'; 
@import 'vessels/card'; 
@import 'vessels/code';
@import 'vessels/quote'; 
@import 'vessels/layout';
// 
//  The Components 
//  [ larger components that will be most likely overridden ]
// 

// @import 'components/index';
@import 'components/footer'; 
@import 'components/nav'; 
@import 'components/sidebar'; 
@import 'components/forms'; 
@import 'components/styleguide'; 
@import 'components/tabs'; 
@import 'components/buttonGroups'; 
@import 'components/toggle'; 
@import 'components/modal'; 
@import 'components/changelog'; 
@import 'components/dropdown';
@import 'components/expander'; // NEEDS CLEANUP 


// re-import to let colors take precedence
@import 'arteries/colors';


// 
//    Basics. 
//    Every site should probably override these
//    Keep stuff here until it's large enough to warrant another file
// 



// 
// base layout styles
// 
body {
  @extend %font-body;
  background-color: $color-bg;
  color: $color-copy;
  margin: 0;
}





