---
title: Helpers
type: styleguide
layout: layout-styleguide
name: helpers
section: fundamental
source: ../
reference: _head-helpers.scss
---


<main markdown="1">

## Helpers

<%= partial '/partials/styleguide-ref', 
    :locals => { :refName => current_page.data.reference } %>

Helpers (and `_griddick`) are core utilities that drive the layout system, behind the semantic values.


</main>


