---
title: Design Helpers
type: styleguide
layout: layout-styleguide
name: helpers
section: fundamental
source: ../
reference: _head-helpers.scss
---


<main markdown="1">

## Design Helpers

<%= partial '/partials/styleguide-ref', 
    :locals => { :refName => current_page.data.reference } %>

Aside from the grid and layout helper classes,  `_head-helpers` and `_neck-design` contain typography, design, and other visual helpers.



### Typography

### Size Helper

### Shadows

### Image Filters
https://css-tricks.com/almanac/properties/f/filter/



</main>


