---
title: Animations
type: styleguide
layout: layout-styleguide
name: animations
section: fundamental
source: ../
reference: _head-animations.scss
---


<main markdown="1">

## Animations

<%= partial '/partials/styleguide-ref', 
    :locals => { :refName => current_page.data.reference } %>

Helpers (and `_griddick`) are core utilities that drive the layout system, behind the semantic values.


</main>


https://engageinteractive.co.uk/blog/top-10-scss-mixins