---
title: Grid Markers
type: styleguide
layout: layout-coeur-knowbase
name: gridmarkers
section: scriptcoeur
<!-- status: --draft -->
source: ../../
reference: _torso-gridmarkers.scss
---


<main markdown="1">

## Grid Markers


<%= partial '/partials/coeur-ref', 
    :locals => { :refName => current_page.data.reference } %>

Useful tool for designing and speccing new designs, or for the hipster "showing the inner-workings"-of-a-site look.

- just include the js file; no init needed
- the grids are drawn with fixed position
- `_grid-markers` is the container class for the grids and can be placed anywhere
- `data-cols="6"` tells how many columns should be drawn. Not currently responsive, but can be changed dynamically in JS
- add `--front` to the gridmarker to have it overlay the content. Uses `pointer-events: none` to pass through cursor behavior
- add `--lines` to give it a wireframe line look; needs a border color

The content width of a container element is calculated by adding a `_grid-marker-basis` class to the element. In this example the grid is drawn with the example as basis, and not as the entire frame or site (though that's possible).
{: ._message .--warning}


<div class="_styleguide-example" markdown="1">

  <script src="../coeur/scriptcoeur/gridmarkers.js" type="text/javascript"></script>

  <div class="_grid-markers-basis">
    <div class="_grid-six" >
      <div class="_padding _margin-bottom _color-bg-white">One col</div>
    </div>

    <div class="_grid-three" >
      <div class="_padding _margin-bottom _color-bg-white">2x3 cols</div>
      <div class="_padding _margin-bottom _color-bg-white">2x3 cols</div>
      <div class="_padding _margin-bottom _color-bg-white">2x3 cols</div>
    </div>

    <div class="_grid-one " >
      <div class="_padding _margin-bottom _color-bg-white">Six columns</div>
    </div>
  </div>

  <div class="_grid-markers --front --lines _color-border-black _opacity-30" data-cols="6">
  </div>
</div>
~~~html
<script src="../coeur/scriptcoeur/gridmarkers.js" type="text/javascript"></script>

<div class="_grid-markers-basis">
  <div class="_grid-six" >
    <div class="_padding _margin-bottom _color-bg-white">One col</div>
  </div>

  <div class="_grid-three" >
    <div class="_padding _margin-bottom _color-bg-white">2x3 cols</div>
    <div class="_padding _margin-bottom _color-bg-white">2x3 cols</div>
    <div class="_padding _margin-bottom _color-bg-white">2x3 cols</div>
  </div>

  <div class="_grid-one " >
    <div class="_padding _margin-bottom _color-bg-white">Six columns</div>
  </div>
</div>

<div class="_grid-markers --front --lines _color-border-black _opacity-30" data-cols="6">
</div>
~~~

</main>


